################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/frontend-winforms/ManagingTheatreApp/.vs/ManagingTheatreApp/FileContentIndex
/frontend-winforms/ManagingTheatreApp/.vs/ManagingTheatreApp
/frontend-winforms/ManagingTheatreApp/bin/Debug
/frontend-winforms/ManagingTheatreApp/obj
/.vs/slnx.sqlite
/frontend-winforms/ManagingTheatreApp/.vs/ProjectEvaluation
/.vs
