################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/frontend-winforms/ManagingTheatreApp/.vs/ManagingTheatreApp/FileContentIndex
