/* Основной контейнер */
.user-statistics-container {
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 70%; /* Уменьшаем ширину контейнера */
  margin: 0 auto;
  height: auto; /* Позволяет контейнеру адаптироваться по высоте */
  margin-top: 50px;
}

/* Заголовок */
.user-statistics-title {
  margin-bottom: 18px;
  text-align: left;
  color: black;
}

/* Блок для отображения данных по часам просмотра */
h5 {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 10px;
}

/* Контейнер для диаграммы */
.user-statistics-chart-box {
  width: 100%; /* Контейнер будет занимать 100% ширины родителя */
  max-width: 400px; /* Ограничиваем максимальную ширину контейнера диаграммы */
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Центрируем контейнер */
  text-align: center; /* Центрируем контент внутри */
  overflow: hidden; /* Если что-то выходит за пределы, скрываем */
}

/* Стили для канваса диаграммы */
.user-statistics-chart-box canvas {
  width: 100% !important; /* Диаграмма будет адаптироваться по ширине контейнера */
  height: 300px !important; /* Устанавливаем фиксированную высоту диаграммы */
  object-fit: contain; /* Диаграмма сохраняет свои пропорции и масштабируется */
}
