.ticket-table-container {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

h2 {
  text-align: left;
}

.ticket-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.ticket-table th,
.ticket-table td {
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
}

.ticket-table th {
  background-color: #f4f4f4;
}

.ticket-table input[type="number"] {
  width: 60px;
  text-align: center;
}

.ticket-table button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 2px;
}

.ticket-table .return_btn {
  background-color: #d14918;
}

.ticket-table .return_btn:hover {
  background-color: #9d3813;
}

.ticket-table .rate_btn {
  background-color: #ced41c;
}

.ticket-table .rate_btn:hover {
  background-color: #b0b518;
}

.ticket-table button:hover {
  background-color: #45a049;
}

.ticket-table .return_btn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.ticket-table button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.rating-input {
  width: 120px; /* Увеличиваем ширину поля */
  height: 30px; /* Увеличиваем высоту поля */
  font-size: 16px; /* Увеличиваем размер шрифта */
  padding: 5px; /* Добавляем отступы внутри поля */
  border-radius: 4px; /* Скругляем углы */
  border: 1px solid #ccc; /* Добавляем границу */
}

.rating-input:focus {
  border-color: #007bff; /* Изменяем цвет границы при фокусе */
  outline: none; /* Убираем стандартный контур */
}
