.user-profile {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.profile-item {
  margin-bottom: 25px;
}

.profile-item label {
  display: block;
  font-weight: bold;
  color: #555;
  font-size: 18px;
  text-align: left;
}

.profile-item span,
.profile-item input {
  display: block;
  font-size: 16px;
  padding: 8px;
  margin-top: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
}

.profile-item input {
  background-color: #f9f9f9;
}

.profile-item input:focus {
  border-color: #007bff;
  outline: none;
}

.profile-actions {
  text-align: center;
}

.edit-button,
.save-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.edit-button:hover,
.save-button:hover {
  background-color: #0056b3;
}
