* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.app {
  text-align: center;
}

.header {
  background-color: #333;
  color: white;
  height: 70px;
}

.nav {
  display: flex;
  justify-content: space-between; /* Располагаем элементы на максимальном расстоянии */
  width: 80%; /* Ограничиваем ширину навигации */
  margin: 0 auto; /* Центрируем на странице */
  height: 70px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  width: 80%;
  margin-left: 130px;
  align-items: center;
  justify-content: space-between; /* Это обеспечит равномерное распределение элементов */
}

.nav-item {
  padding: 24px 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  user-select: none;
  font-size: 20px;
}

.nav-item:hover {
  background-color: #555;
}

.active {
  background-color:  #eebe37;
}

.dropdown {
  position: absolute;
  background-color: white;
  color: black;
  margin-top: 22px;
  margin-left: -50px;
  text-align: left;
  border: 0px solid #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.752);
  width: 260px;
}

.dropdown ul {
  list-style-type: none;
}

.dropdown ul li {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.dropdown ul li:hover {
  background-color: #d1d1d1;
}

.main-content {
  margin-top: 20px;
}
