h2,
p {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 5px;
}

.repertoire-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin-left: 15%;
  text-align: left;
  user-select: none;
}

.info-list {
  margin-top: 10px;
}

.info {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.repertoire-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Основной контейнер для блоков */
.acts-container {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 20px;
  overflow-x: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.date-time-date {
  background-color: #fffbf0;
  padding: 12px 20px;
  border-radius: 12px;
  border: 2px solid #eebe37;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  color: black;
  cursor: pointer;
  user-select: none;
}

.date-time-date:hover {
  transform: translateY(-4px);
  background-color: #eebe37;
}

.active {
  background-color: #eebd37dd;
}

/* Стиль для блока фильтров */
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 70%;
  margin-left: 15%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.filters label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  width: 30%;
  text-align: left;
}

.filters input[type="text"],
.filters select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
  color: #333;
}

.filters input[type="text"]:focus,
.filters select:focus {
  border-color: #eebe37;
}

.filters input[type="text"]::placeholder {
  color: #aaa;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}
